{% load static %}

<aside class="sidebar">
    <div class="brand-logo d-flex justify-content-between align-items-center mb-5 px-1">
        <a href="{% url 'home' %}" class="text-decoration-none mx-auto">
            <img src="{% static 'img/umj-logo.jpg' %}" alt="Logo UMJ" style="max-width: 150px;">
        </a>
        
        <button type="button" class="btn btn-link text-dark p-0 d-lg-none ms-2" onclick="window.toggleSidebar()">
            <i class="bi bi-x-lg fs-4"></i>
        </button>
    </div>

    <nav class="d-flex flex-column h-100 w-100">
        <a href="{% url 'home' %}" class="nav-link-custom {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
            <i class="bi bi-house-door"></i>
            <span>Home</span>
        </a>

        <a href="{% url 'dashboard' %}" class="nav-link-custom {% if 'dashboard' in request.resolver_match.url_name or 'ticket' in request.resolver_match.url_name %}active{% endif %}">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
        </a>

        {% if user.is_superuser or user.groups.all.0.name == 'Administrativo' %}
            <a href="{% url 'reports' %}" class="nav-link-custom {% if 'reports' in request.resolver_match.url_name %}active{% endif %}">
                <i class="bi bi-bar-chart-line"></i>
                <span>Relatórios</span>
            </a>
            
            <a href="{% url 'admin_panel' %}" class="nav-link-custom">
                <i class="bi bi-shield-lock"></i>
                <span>Administração</span>
            </a>
        {% endif %}

        <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
            {% csrf_token %}
        </form>

        <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();" class="nav-link-custom mt-auto">
            <i class="bi bi-box-arrow-right"></i> 
            <span>Sair</span>
        </a>
    </nav>
</aside>