body {
    background-size: cover;      
    background-position: 20% center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

        
body::before {
    content: "";
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
    z-index: -1;
}

.card-custom{
    width: 460px;
}