<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Moiru - Redefinir Senha</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    {% load crispy_forms_tags %}
</head>
<body class="bg-light d-flex align-items-center justify-content-center" style="height: 100vh;">

    <div class="card shadow-sm border-0 rounded-4" style="max-width: 450px; width: 100%;">
        <div class="card-body p-5">
            <div class="text-center mb-4">
                <h3 class="fw-bold text-dark">Primeiro Acesso</h3>
                <p class="text-muted small">Por questões de segurança, você precisa definir uma nova senha pessoal antes de acessar o sistema Moiru.</p>
            </div>

            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                
                <button type="submit" class="btn btn-primary w-100 fw-bold py-2 mt-3 shadow-sm">
                    Atualizar Senha e Entrar
                </button>
            </form>
        </div>
    </div>

</body>
</html>